<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SampleJoin</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

    <div class="mainDiv">
        <h1>SampleProject</h1>
        <div class="loginForm">
            <input id="id" type="text">
            <input id="password" type="password">
            <button onclick="join()">회원가입</button>
            <button onclick="goLogin()" >로그인하러가기</button>
        </div>

    </div>

    <style>
        @import url("css/cssfile.css");
    </style>


    <script>
        function join(){
            var id = document.getElementById("id").value
            var password = document.getElementById("password").value

            let form = {
                name : id,
                password : password
            }

            $.ajax({
                type: "POST",
                url: "/save",
                data: JSON.stringify(form),
                contentType : "application/json; charset=utf-8", //body데이터가 어떤 타입인지 (MIME타입)
            }).success(function (data){
                console.log(data)
                alert("성공")
            }).error(function (data){
                if (data.status === 409){
                    console.log(data)
                    alert("중복 아이디 로그인 시도")
                }else {
                    console.log(data)
                    alert("서버 에러 발생")
                }
            })

        }

        function goLogin(){
            window.location.href = "/"
        }

    </script>

</body>


</html>